<p>Hi <%= @resource.email %>,</p>
<p>You requested a password reset for your Artist account.</p>
<p><a href="<%= @reset_url %>">Reset your password</a></p>
<p>If you didn't request this, please ignore this email.</p>
