<nav id="main-navbar" class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pickleball</a>

    <div class="d-flex gap-2">
      <% if user_signed_in? %>
        <%= link_to "Account", edit_user_registration_path, class: "btn btn-outline-secondary", data: { turbo: false } %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger", data: { turbo: false } %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary", data: { turbo: false } %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary", data: { turbo: false } %>
      <% end %>
    </div>
  </div>
</nav>
